@import url(http://weloveiconfonts.com/api/?family=entypo);
@import 'src/app/theme/_variables';

$secondary: #e74c3c;

section {
  background-color: $primary;
  widows: 100vw;
  height: 100vh;

  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* zocial */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

form {
  position: relative;
  width: 400px;
  height: auto;
}

input {
  padding: 16px;
  border-radius:7px;
  border:0px;
  background: rgba(255,255,255,.3);
  display: block;
  margin: 15px 0px;
  width: 100%;  
  color:white;
  font-size:18px;
  height: 60px;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}


.submit-button {
  width: 100%;
  border: 0px;
  background:  $secondary;
  border-radius: 5px;
  padding: 10px;
  color:white;
  font-size:22px;
}

.inputIcon {
  position:absolute;
  top: 20px;
  right: 20px;
  color:white;
}

input::-webkit-input-placeholder {
  color: white;
}

.input-field {
  position: relative;
}
