<section>
  <div class="content">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">

      <div class="input-field">
        <span class="entypo-user inputIcon">
          <i class="fa fa-user"></i>
        </span>
        <input type="text" class="user" placeholder="Email" formControlName="email" />
        <ng-container *ngIf="email.errors && email.touched">
          <p class="red-text" *ngIf="email.errors.required"> Email é requerido</p>
          <p class="red-text" *ngIf="email.errors.email"> Email inválido</p>
        </ng-container>
      </div>

      <div class="input-field">
        <span class="entypo-key inputIcon">
          <i class="fa fa-key"></i>
        </span>
        <input type="password" class="pass" placeholder="Senha" formControlName="password" />
        <ng-container *ngIf="password.errors && password.touched">
          <p class="red-text" *ngIf="password.errors.required"> Senha é requerida.</p>
          <p class="red-text" *ngIf="password.errors.minlength"> Senha deve ter ao menos
            {{ password.errors.minlength.requiredLength }} caracteres.</p>
        </ng-container>
      </div>
      <button class="submit-button" type="submit">Login</button>
    </form>
  </div>
</section>